div.dice {
    float: left; 
    width: 50px;
    background: rgb(0, 255, 0);
    border: blue 4px solid;
    padding: 10px; 
    font-size: 25px;
    text-align: center;
    margin: 10px; 
}
button {
    position: absolute;
}